{% extends 'all-awards/base.html'%}
{% load static %}
{% load bootstrap3%}
{% load crispy_forms_tags %}
{% block content %}
<div class="container-fluid" style="background-image: url(../../static/img/bb.png); height: 50rem; background-repeat: repeat-x;">
    <p style="text-align: center;">Awwwwards Webiste</p>
</div>

<div class="container">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mt-4">
            <div class="card">
                <a href="#"><img class="card-img-top" src="{{post.image.url}}" alt="" height="250"></a>

                <div class="card-body pt-5">
                    <h6 class="card-title text-sm">{{post.title|title}}</h6>
                    <h5>{{post.description}}</h5>
                    <a href=""></a>
                </div>
                <div class="card-footer">
                    <h4>{{post.user.username|title}}</h4>
                    <button type="button" class="nav_btn" onclick="window.location.href='{{post.link}}'">View site</button>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>
{% endblock %}

